/* Feuille de style pour la page à propos de Chronophone */

/* Titre principal de la page */
main#about h1 {
	font-family: Montserrat;
	color: #fff;
	text-align: center;
}

/* Texte de la page */
main#about p {
	font-family: Open Sans;
	width: 80%;
	margin: auto;
	text-align: center;
	color: white;
}

/* Conteneur des logos de l'IUT Informatique, et l'Université  Paul Sabatier */
main#about #logos {
	display: flex; /* Utilisation de Flexbox */
	justify-content: center;
	align-items: center; /* Centre les élements verticalement */
	margin-top: 20px;
}

/* Logos */
main#about #logos img {
	max-width: 45%;
	height: auto;
}

/* Grand conteneur des logos pour afficher un fond blanc sur la largeur de la page */
main#about .logo-wrapper {
	width: 100%;
	background-color: #fff;
}

/* Media-Queries */

/* Liste des propriétés CSS s'appliquant pour un écran de maximum 800px de largeur */
@media(max-width: 800px) {
	main#about #logos {
		flex-direction: column;
	}

	main#about #logos img {
		display: block;
		height: auto;
	}
}