/* Feuille de style pour la page d'accueil de Chronophone */

/* Fond d'écran de la page d'accueil */

body#accueil {
	width: 100%;
	height: 100%;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/* Bouton "Découvrir" de la page d'accueil */
a.button-line {
	display: inline-block;
	text-align: center;
	background: transparent;
	color: white;
	font-family: Raleway;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 2em;
	border: 1px solid white;
	border-radius: 30px;

	/* Transitions CSS3 pour fluidier les animations
   	+ Gestion de la compatibilité entre différents navigateurs */
	transition: background .25s ease-out;
	-webkit-transition: background .25s ease-out;
	-moz-transition: background .25s ease-out;
	-ms-transition: background .25s ease-out;
	-o-transition: background .25s ease-out;
}

a.button-line:hover {
	background: rgba(255, 255, 255, .25); /* Fond blanc transparent appliqué lors du survol */
}

/* Contenu principal de la page d'accueil */
main #content.accueil {
	min-height: 0px;
	margin: 0;
	padding-top: 30vh; /* 30% de la taille de l'écran (viewport width)*/
	width: 100%;
	text-align: center;
}

/* Slogan du site */
main #content.accueil p {
	font-size: 20px;
	color: white;
	letter-spacing: 2px;
	font-family: Raleway;
	margin-top: 20px;
	margin-bottom: 60px;
	text-align: center;
	text-transform: uppercase;
}

/* Media-Queries */

/* Liste des propriétés CSS s'appliquant pour un écran de maximum 800px de largeur */
@media(max-width: 800px) {
	main #content.accueil {
		margin: 0;
		padding-top: 2.5em;
	}

	main #content.accueil p {
		font-size: 1em;
	}

	main #content h1.main-title {
		font-size: 2em;
	}

	a.button-line {
		margin-bottom: 50px;
	}
}