/* Feuille de style pour la page des sources de Chronophone */


/* Titre principal de la page */
main#sources h1 {
	font-family: Montserrat;
	color: #fff;
	text-align: center;
}

/* Tableau des sources */

main#sources table {
	font-family: Open Sans;
	color: white;
	border-collapse: collapse;
	width: 80%;
	margin: auto;
	margin-bottom: 50px;
}

main#sources table tr>td:first-child {
	text-align: center;
}

main#sources table td {
	padding: 10px;
	border: 1px solid white;
}

main#sources table td a {
	color: white;
}

main#sources table td li {
	list-style-type: none; /* Supprime la puce des élements de la liste */
}

main#sources table td li:before {
	content: "- "; /* Ajoute un "-" avant les élements de la liste, faisant office de puce */
}

/* IFrame contenant la vidéo de youtube */
main#sources iframe {
	display: block;
    width: 50%;
    height: 360px;
    margin: auto;
    margin-bottom: 50px;
    border: none;
}

/* Media-Queries */

/* Liste des propriétés CSS s'appliquant pour un écran de maximum 800px de largeur */
@media(max-width: 800px) {
	main#sources table {
		width: 100%;
	}

	main#sources table ul {
		margin: 0;
		padding: 0;
	}

	main#sources table ul li:before {
		content: "";
	}

	main#sources table ul li {
		width: 100%;
		overflow-wrap: break-word;
		margin-bottom: 10px;
	}

	main#sources iframe {
		width: 100%;
	}

	table, tbody, td, tr { 
		display: block; 
	}
}