/* Feuille de style pour les éléments généraux de chronophone */

/* Importation des différentes polices */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto|Open Sans');

/* Toute la page */
html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: smooth; /* Permet d'activer le scroll progressif avec les ancres */
}

/* Barre de navigation principale */

header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex; /* Utilisation de Flexbox */
	margin: 0;
	padding: 0;
	width: 100%;
	background: #323232;
	z-index: 1000;
}

header.transparent {
	background: transparent;
}

header.transparent a:hover {
	background: transparent;
}

header #header-title {
	margin: 0;
	width: 300px;
	text-align: center;
}

header img {
	position: relative;
	top: 7px;
	margin-right: 10px;
	width: 32px;
	height: 32px;
}

header h1 {
	display: inline;
	color: white;
	font-family: Raleway;
	font-size: 22px;
	line-height: 52px;
}

header ul {
	display: flex; /* Utilisation de flexbox */
	flex-wrap: wrap; /* Permet le replacement des élements quand l'espace se raccourcit */
	margin: 0;
	padding: 0;
}

header li {
	display: inline-block;
	text-align: center;
}

/* Liens de navigation */
header li>a {
	display: inline-block;
	width: 180px;
	padding: 16px;

	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-family: Roboto;

	/* Transitions CSS3 pour fluidifier le "zoom" sur l'élément de la liste
	+ Gestion de la compatibilité entre différents navigateurs */
	transition: background .25s ease-out;
	-webkit-transition: background .25s ease-out;
	-moz-transition: background .25s ease-out;
	-ms-transition: background .25s ease-out;
	-o-transition: background .25s ease-out;
}

header li>a.active {
	background: #424242;
}

header li>a:hover, header li>a.active:hover {
	background: #424242;
}

/* Menu latéral, servant à la navigation dans la page */
aside {
	position: fixed;
	top: 52px;
	left: 0;
	width: 300px;
	height: 100vh;
	background: #323232;
	color: white;
	z-index: 1000; /* Permet de le mettre au dessus des autres élements de la page ayant un z-index inférieur */
}

aside ul {
	padding: 0;
}

aside li {
	width: 100%;
	list-style-type: none;
	text-align: center;
	margin: 2.5px 0;

	/* Transitions CSS3 pour fluidifier le "zoom" sur l'élément de la liste
	+ Gestion de la compatibilité entre différents navigateurs */
	transition: transform .25s ease-out;
	-webkit-transition: transform .25s ease-out;
	-moz-transition: transform .25s ease-out;
	-o-transition: transform .25s ease-out;
}

aside li:hover {
	transform: scale(1.15); /* Permet d'agrandir l'élément de la liste de 15% lors du survol */
}

aside a {
	display: inline-block;
	color: white;
	text-decoration: none;
	width: 100%;
	height: 100%;
}

aside a:focus {
	outline: 0; /* Permet de ne pas avoir d'encadré lors du clic sur l'icone de la chronologie */
}

/* Conteneur du contenu principal de la page */
main {
	margin-top: 52px;
}

/* Contenu principal de la page */
main #content {
	margin-left: 300px;
	min-height: calc(100vh - 100px); /* Permet de "coller" le pied de page au bas de la page */
	overflow: hidden;
}

main #content h1.main-title {
	font-family: Montserrat;
	font-size: 5em;
	margin: 0;
	color: white;
	text-align: center;
	margin-bottom: 30px;
}

main #content p {
	text-align: justify;
}

/* Classe générale pour prendre la totalité de l'écran en largeur */
.fullsize {
	width: 100% !important; /* le "!important" permet d'avoir la plus grande priorité pour cette propriété */
	margin: 0 !important;
}

/* Fait office de séparateur entre les icones / dates */
.separator {
	display: block;
	width: 3px;
	margin: auto;
	background: #f0f0f0;
	border-radius: 20px;
	height: calc((100vh / 5) - 41px); /* Permet de prendre tout l'espace vertical pour afficher la frise */
}

/* Grand fond pour le téléphone / l'inventeur */
.phone-bg, .inventor-bg {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 75vh;
	width: 100%;
}

/* Fonds des différentes téléphones / inventeurs */
#marty {
	background-image: url("../images/wpp/marty-wpp.jpg");
}

#ptt24 {
	background-image: url("../images/wpp/ptt24-wpp.jpg");
	background-position: center 100%;
}

#crapaud {
	background-image: url("../images/wpp/crapaud-wpp.jpg");
}

#nokia {
	background-image: url("../images/wpp/nokia-wpp.jpg");
}

#iphone {
	background-image: url("../images/wpp/iphone-wpp.png");
}

#bell {
	background-image: url("../images/wpp/bell-wpp.jpg");
}

#edison {
	background-image: url("../images/wpp/edison-wpp.jpg");
}

#ader {
	background-image: url("../images/wpp/ader-wpp.jpg");
}

#cooper {
	background-image: url("../images/wpp/cooper-wpp.jpg");
}

#karlin {
	background-image: url("../images/wpp/karlin-wpp.jpg");
}

/* Contenu d'une section inventeur */
.inventeur {
	padding: 20px 0; /* marge intérieure verticale de 20px de chaque côté */
}

/* Conteneur du titre de présentation d'un téléphone / inventeur */
.caption {
	position: absolute;
	left: 0;
	top: calc(50% - 25px); /* Centre verticalement le titre */
	width: 100%;
	text-align: center;
	color: #000;
}

/* Grand titre de présentation d'un téléphone / inventeur */ 
.caption span.title {
	font-family: Raleway;
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	padding: 18px;
	letter-spacing: 10px;
}

/* Contenu textuel des téléphones / inventeurs */
.text-content {
	display: flex; /* Utilise Flexbox */
	background: #323232;
	color: #eee;
	font-family: Roboto;
}

.text-content p {
	text-align: center;
	font-family: Open Sans;
	width: 50%;
	margin: auto;
	justify-content: flex-end; /* Aligne le texte à la fin de la ligne */
}

/* Conteneur de l'image descriptive du téléphone / inventeur */
.text-content .image-wrapper {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 20%;
	margin-right: 20px;
}

.text-content .image-wrapper img {
	padding: 10px;
}

/* Séparateur de la frise */
.frise .separator {
	height: calc(50% - (31px / 2));
}

/* Année de la frise */
.frise .year {
	display: block;
	width: 50px;
	border-radius: 50px;
	border: 1px solid white;
	padding: 5px;
	text-align: center;
}


/* Lien vers la vidéo */
#video-icon {
	display: flex;
	position: relative;
	top: 5px;
	color: white;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	margin-top: 10px;

	
	float: right;

	/* Transitions CSS3 pour fluidifier la transparence
	+ Gestion de la compatibilité entre différents navigateurs */
	transition: opacity .25s;
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	-ms-transition: opacity .25s;
	-o-transition: opacity .25s;

	cursor: pointer;
}

#video-icon:hover {
	opacity: .8;
}

#video-icon img {
	position: relative;
	top: 10px;
	display: inline-block;
	width: 16px !important;
	height: 17px !important;
	padding: 5px 10px;
}

/* Pied de page */

footer {
	width: calc(100vw - 300px); /* La taille de l'écran moins la taille du menu "aside" */
	padding: 16px;
	margin-left: 300px; /* On décale le pied de page de 300px (taille du menu aside) */
	background: #323232;
	border-top: 1px solid #f0f0f0;
}

footer ul {
	margin: 0;
	padding: 0;
	display: flex; /* Utilisation de Flexbox pour la disposition responsive des élements */
	flex-direction: row; /* Disposer les élements en ligne */
	text-align: center;
	justify-content: center; /* Centrer les éléments horizontalement */
}

footer li {
	display: inline-block;
	list-style-type: none;
	font-family: Roboto;
	font-size: 18px;
	color: #fff;
	margin: 0 50px; /* 50px de marge sur les côtés en largeur */
}

footer a:hover {
	text-decoration: underline;
}

footer p {
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
	color: white;
}

/* Liste des propriétés CSS s'appliquant pour un écran de maximum 1400px de largeur */
@media(max-width: 1400px) {
	header li>a {
		width: 150px;
	}

	.text-content img {
		position: relative;
		top: 10px;
		height: 178px;
		width: auto;
	}

	.inventeur img {
		top: 0 !important;
	}

	main#about #logos {
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}
}

/* Liste des propriétés CSS s'appliquant pour un écran de maximum 800px de largeur */
@media(max-width: 800px) {
	body {
		display: flex; /* Utilisation de flexbox */
		flex-direction: column; /* Dispose les éléments verticalement pour qu'ils soient correctement affichés sur téléphone */
	}

	header {
		position: relative;
		display: flex; /* Utilisation de flexbox */
		flex-direction: column; /* Dispose les liens du menu verticalement pour afficher le menu correctement */
		justify-content: center;
	}

	header ul {
		flex-direction: column; /* Dispose les éléments verticalement */
	}

	header li {
		width: 100%;
	}

	header li a {
		width: 100%;
		padding: 16px 0;
	}

	#header-title {
		display: block;
		width: 300px;
		margin: auto !important;
	}

	aside {
		display: none;
		position: fixed;
		left: 0;
		width: 100%;
	}

	main {
		display: flex; /* Utilisation de Flexbox */
		flex-direction: column; /* Dispositions des élements verticalement */
		margin: 0;
	}

	main #content {
		margin: 0;
	}

	.text-content {
		flex-direction: column; /* Disposition des éléments textuels verticalement */
	}

	.text-content .image-wrapper {
		display: flex; /* Utilisation de Flexbox */
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
		align-items: center; /* Centrer verticalement l'image */
		justify-content: center; /* Centrer horizontalement l'image */
	}

	.text-content p {
		width: 80%;
		margin: auto;
		padding: 20px 0;
	}

	.frise {
		display: flex; /* Utilisation de Flexbox */
		align-items: center; /* Centrer verticalement les éléments */
	}

	.frise .separator {
		height: 3px;
		width: calc(50% - (31px / 2)); /* Largeur du trait: 1/2 de la taille du conteneur - la taille totale de l'année / 2 */
	}

	.frise .year {
		display: block;
		width: 50px;
		border-radius: 50px;
		border: 1px solid white;
		padding: 5px;
		text-align: center;
	}

	footer {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	footer nav {
		padding: 10px;
	}

	footer ul {
		flex-direction: column; /* Disposer les éléments verticalement */
	}
}